
/*IPAD*/
@media only screen and (min-width:768px) and (max-width:1024px) {

    .logo{
        position: absolute;
        padding-left: 290px;
        top: 1px;
    }


    .icon-bars {
        position: relative;
        right: 700px;
    }

    .menu__link {
        display: block;
        padding: 10px;
        background: #002e2e;
        text-decoration: none;
        color:#002e2e;
   
        border-bottom-style: groove;
        border-top-style: groove;

        margin-left: 1px;
   }


    .cartel{
        display: inline-block;
        
        width: 100%;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;
    
        background-size: 10%;
    
        margin: 15px auto;
    }



    .grupo2{
        width: 100%;
        height: 550px;
        margin: 40px auto;

        border-color: rgb(255, 255, 255);

        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;

        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;
    }




    label{
        float: left;
    }


    input{
        width: 350px;
        float:right;
        text-align:left;
    }


    .aceptar{
        margin-left: -25%;
        width: 100%;
        height: 120px;
        padding-left: 150px;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;

        background-size: 10%;
    }


    .aceptar button{
        margin-left: -20%;
        width: 75%;
        height: 50px;
        float:none;
        text-align:center;
        position: absolute;
    }


    footer{
        max-width: 100%;
        border:1px;
        text-align: initial;
        font-size: 18px;
        margin-inline-start: 5px;
    }

}


