body{
    width: 100%;
    border:0;
    text-align: justify;
    font-size: 18px;
    background-color: #e0e5f0;
    background-image: url("https://goo.gl/2hhAHW"); 
}


.contenedor{
    width: 100%;   
    position: relative;

    z-index: 2;
}

.header{
    height: 60px;

    height:50px;
    background-color:#003333da;
    background-image: url("https://goo.gl/GGVvVE")
}


.header .contenedor{
    display: flex;
    justify-content: space-between;   
}


.logo, .icon-bars{
    margin: 5px;
}


.icon-bars {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    right: 310px;
    font-size: 30px;
    background: #016d6d;
    color: aliceblue;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    border-style: outset;
    border-color: aliceblue;
}


.logo{
    position: absolute;
    top:-1500px;
    width: 50px;
}


.nav{
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%; 
    transition: all 0.3s;
}
 

.menu{
     list-style: none;
     padding: 0;
     margin: 0;    
}



.menu a{
    color:white;
    font-size: 18px;
}


.menu__link {
     display: block;
     padding: 10px;
     background: #002e2e;
     text-decoration: none;
     color:#002e2e; 
     
     margin-left: 170px;

}


.menu__link:hover, .select{
     background: #ffffff;
     color: rgb(0, 0, 0);
}


.mostrar {
     left: 0;
}


/*AQUI VA DESHABILITA OFFCANVAS EN PC*/
@media(min-width:1024px){
    .contenedor{
        width: 1500px;
    }    
    .nav {
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-bars {
        display: none;
    }
    .menu__link{
        background: none;
    }
    .select{
        background: white;
    }
    .info__titulo{
        font-size: 40px;
        text-align: center;
    }
    
    }
    
    @media(min-width:1280px){
        .contenedor{
            width: 1200px;
        }
    }



.textos{
    width: 100%;
    margin: 25px auto;

    border-color: rgb(255, 255, 255);
    border-radius: 5%;

    background-image: url("https://goo.gl/SbNmXr");
    background-size: 20%;

    border: 70px solid;
    border-image-source: url("https://goo.gl/R47mGA");
    border-image-slice: 40;
}


.textos2{
    width: 100%;
    margin: 25px auto;

    border-color: rgb(255, 255, 255);
    border-radius: 5%;

    background-image: url("https://goo.gl/SbNmXr");
    background-size: 20%;

    border: 70px solid;
    border-image-source: url("https://goo.gl/R47mGA");
    border-image-slice: 40;
}


.galeria{
    display: inline-block;
    width: 100%;
    border-color: rgb(234, 255, 251);
    border-style: dashed;
    background-image: url("https://goo.gl/SbNmXr");
    border-radius: 5%;

    background-size: 10%;

    border: 70px solid;
    border-image-source: url("https://goo.gl/R47mGA");
    border-image-slice: 40;
}

.galeria h3{
    color: white;
    text-align: center;
    font-size: 40px;

}

.textos p, .textos2 p{
    color: rgb(234, 255, 251);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}    


.textos h3, .textos2 h3{
    color:  rgb(234, 255, 251);
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}


footer{
    background-color:#003333da;
    margin-top: 30px;
}


footer p, footer table{
    color: rgb(214, 214, 214);
    font-size: 16px;    
}





.perro1, .perro2, .perro3{
    float: left;
    width:485px;
    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 10px;

    border-style: dashed;
    border-color: rgb(234, 255, 251);
    border-radius: 25px;
    background-color: rgba(1, 128, 128, 0.349);
    
    text-align: justify;
}


.perro4, .perro5, .perro6{
    float: right;
    width:485px;

    margin: 50px;
    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 10px;

    border-style: dashed;
    border-color: rgb(234, 255, 251);
    border-radius: 25px;
    background-color: rgba(1, 128, 128, 0.349);

    text-align: justify;
}


.perro1 img, .perro2 img, .perro3 img, .perro4 img, .perro5 img, .perro6 img{
    border-radius: 25px;
}

    
.perro1 p, .perro2 p, .perro3 p, .perro4 p, .perro5 p, .perro6 p{
    color: white;
    font-size: 18px;
    padding-top: 15px;
    text-align: justify;
}

.galeria p{
    font-size: 20px;
}


footer tr{
    padding-top: 5px;
    font-size: 18px;
}


footer td{
    padding-right: 20px;
    font-size: 18px;
}

footer b{
    margin-left: -50px;
    font-size: 18px;
}