/*IPHONE 5*/
@media only screen and (min-width:320px) and (max-width:568px) {
    
    .logo{
        position: absolute;
        padding-left: 70px;
        top: 1px;
    }
         
    
    .icon-bars {
        position: relative;
        right: 270px;
    }
    
    
        .menu__link {
            display: block;
            padding: 10px;
            background: #002e2e;
            text-decoration: none;
            color:#002e2e;
       
            border-bottom-style: groove;
            border-top-style: groove;
    
            margin-left: 1px;
       }

    .grupo1{
        width: 100%;
        margin: 40px auto;
    
        border-style: dashed;
        border-color: rgb(255, 255, 255);
    
        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;
    
        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;
    
        text-align: center;
    }


    .grupo2{
        width: 100%;
        margin: 40px auto;
    
        border-color: rgb(255, 255, 255);
    
        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;
    
        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;
    }


    .grupo2{
        font-size: 20px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: -80px;
    }


    label{
        float: left;
    }

    input{
        width: 210px;
    }

    .aceptar{
        margin-left: -25%;
        width: 100%;
        padding-left: 150px;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;

        background-size: 10%;
    }


    .aceptar button{
        margin-left: -25%;
        width: 75%;
        height: 50px;
        float:none;
        text-align:center;
        position: absolute;
    }


    footer{
        max-width: 100%;
        border:1px;
        text-align: initial;
        font-size: 18px;
        margin-inline-start: 5px;
    }

}


/*GALAXY S5*/
@media only screen and (min-width:360px) and (max-width:640px) {

    .logo{
        position: absolute;
        top:1px;
        width: 50px;
        padding-left: 90px;
    }


    .icon-bars {
        position: relative;
        right: 310px;
    }



    .menu__link {
        display: block;
        padding: 10px;
        background: #002e2e;
        text-decoration: none;
        color:#002e2e;
   
        border-bottom-style: groove;
        border-top-style: groove;

        margin-left: 1px;
   }


    input{
        width: 240px;
    }

}


/*PIXEL 2*/
@media only screen and (min-width:411px) and (max-width:731px) {
    
    .logo{
        position: absolute;
        padding-left: 120px;
    }

    .icon-bars {
        position: relative;
        right: 355px;
    }

    .menu__link {
        display: block;
        padding: 10px;
        background: #002e2e;
        text-decoration: none;
        color:#002e2e;
   
        border-bottom-style: groove;
        border-top-style: groove;

        margin-left: 1px;
   }

    input{
        width: 290px;
    }
      
}


/*iPHONE 6 */
@media only screen and (min-width:375px) and (max-width:667px) {

    #menu img{
    float:none;
    margin-left:40px;
    margin-right:40px;
    padding-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 45px;
    }

    input{
        width: 270px;
    }
      
}


/*iPHONE 7/8 */
@media only screen and (min-width:414px) and (max-width:736px) {

    #menu img{
        float:none;
        margin-left:40px;
        margin-right:40px;
        padding-bottom: 20px;
        position: absolute;
        top: 5px;
        right: 60px;
        }

    input{
        width: 290px;
    }
      
}


/* iPHONE X*/
@media only screen and (min-width:375px) and (max-width:812px) {

    #menu img{
    float:none;
    margin-left:40px;
    margin-right:40px;
    padding-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 45px;
    }

input{
    width: 260px;
}
      
}


/*IPAD*/
@media only screen and (min-width:768px) and (max-width:1024px) {

    .logo{
        position: absolute;
        padding-left: 290px;
        top: 1px;
    }


    .icon-bars {
        position: relative;
        right: 700px;
    }

    .menu__link {
        display: block;
        padding: 10px;
        background: #002e2e;
        text-decoration: none;
        color:#002e2e;
   
        border-bottom-style: groove;
        border-top-style: groove;

        margin-left: 1px;
   }


    .cartel{
        display: inline-block;
        
        width: 100%;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;
    
        background-size: 10%;
    
        margin: 15px auto;
    }



    .grupo1{
        width: 100%;
        margin: 40px auto;

        border-style: dashed;
        border-color: rgb(255, 255, 255);

        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;

        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;

        text-align: center;
    }


    .grupo2{
        width: 100%;
        margin: 40px auto;

        border-color: rgb(255, 255, 255);

        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;

        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;
    }


    .grupo2{
        font-size: 20px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: -80px;
    }


    label{
        float: left;
    }


    input{
        width: 350px;
        float:right;
        text-align:left;
    }


    .aceptar{
        margin-left: -25%;
        width: 100%;
        padding-left: 150px;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;

        background-size: 10%;
    }


    .aceptar button{
        margin-left: -25%;
        width: 75%;
        height: 50px;
        float:none;
        text-align:center;
        position: absolute;
    }


    footer{
        max-width: 100%;
        border:1px;
        text-align: initial;
        font-size: 18px;
        margin-inline-start: 5px;
    }

}

/*IPAD PRO*/
@media only screen and (min-width:1024px) and (max-width:1366px) {


    .cartel{
        display: inline-block;
        
        width: 100%;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;
    
        background-size: 10%;
    
        margin: 15px auto;
    }



    .grupo1{
        width: 100%;
        margin: 40px auto;

        border-style: dashed;
        border-color: rgb(255, 255, 255);

        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;

        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;

        text-align: center;
    }


    .grupo2{
        width: 100%;
        margin: 40px auto;

        border-color: rgb(255, 255, 255);

        background-image: url("https://goo.gl/SbNmXr");
        background-size: 20%;

        border: 70px solid;
        border-image-source: url("https://goo.gl/R47mGA");
        border-image-slice: 40;
    }


    .grupo2{
        font-size: 20px;
        margin: 0;
        margin-top: 50px;
        margin-bottom: -80px;
    }


    label{
        float: left;
    }


    input{
        width: 350px;
        float:right;
        text-align:left;
    }


    .aceptar{
        display: inline-block;
        width: 50%;
        height: 120px;
        border-color: rgb(234, 255, 251);
        border-style: dashed;
        background-image: url("https://goo.gl/SbNmXr");
        border-radius: 5%;
    
        background-size: 10%;
    
        padding: 20px;
    
    
        position: relative;
        left:25%;
    }
    
    
    .aceptar button{
        float:none;
        text-align:center;
        position: absolute;
        left: 33%;
        min-height: 50px;
        min-width: 250px;
    
    }
    


    footer{
        max-width: 100%;
        border:1px;
        text-align: initial;
        font-size: 18px;
        margin-inline-start: 5px;
    }

}